.dialog-pane {
    -fx-background-color: #f0f0f0; /* Background color of the dialog */
    -fx-border-color: #cccccc; /* Border color */
    -fx-border-width: 2px; /* Border width */
    -fx-font-family: "Arial"; /* Font style */
    -fx-font-size: 14px; /* Font size */
    -fx-text-fill: #333333; /* Text color */
}

.answerTitle-label {
    -fx-font-size: 20px;
    -fx-font-family: "Tahoma";
    -fx-font-weight: bold;
    -fx-text-fill: #0d47a1;
}

.attributes-label {
    -fx-font-size: 15px;
    -fx-font-family: "Tahoma";
    -fx-font-weight: normal;
    -fx-text-fill: #1e88e5;
}

.dialog {
    -fx-background-color: #ffffff; /* Dialog's background */
}

.button {
    -fx-background-color: #1e88e5; /* Button color */
    -fx-text-fill: white; /* Text color */
    -fx-font-size: 14px; /* Font size of button */
}

.button:hover {
    -fx-background-color: #05569e; /* Hover effect for buttons */
}
